<h1>Book Shelf</h1>

<p><%= I18n.t"bookshelf.mail.Hi" %> <%= @user.name %> ,</p>

<p>
<%= I18n.t"bookshelf.mail.Welcome to the Book Shelf! Click on the link below to activate your account" %> :
</p>

<%= link_to "認証", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>