<h1>BOOBER</h1>

<p><%= I18n.t"boober.mail.Hi" %> <%= @user.name %> ,</p>

<p>
<%= I18n.t"boober.mail.Welcome to the BOOBER! Click on the link below to activate your account" %> :
</p>

<%= link_to "認証", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>