<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user, data: {"turbolinks" => false} %>
  | <%= user.books.count %> 冊
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to (I18n.t"boober.page.parts.delete"), user, method: :delete,
                                  data: { confirm: (I18n.t"boober.page.parts.You sure?") } %>
  <% end %>
</li>