  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="book_form">
        <%= render 'shared/book_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= I18n.t"bookshelf.page.parts.Book Feed" %></h3>
      <%= render 'shared/feed' %>
    </div>
  </div>