<body class="home">
  <div class="center jumbotron">

    <h1 class="title">Book Shelf</h1>

    <h2 class="txt"><%= btn = I18n.t"bookshelf.session.Let's talk about memories" %></h2>

    <% btn = I18n.t"bookshelf.session.Sign up now!" %>
    <%= link_to btn, signup_path, class: "btn btn-lg btn-primary", data: {"turbolinks" => false} %>
  </div>
</body>
