<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><a data-turbolinks="false" href="/users/1"><%= I18n.t"bookshelf.page.parts.view my profile" %></a></span>
<span><%= pluralize(current_user.books.count, "Book") %></span>