<div class="row">
  <aside class="col-md-4">
  </aside>
  <div class="col-md-8 mx-auto">
    <h3><%= I18n.t"boober.page.parts.Search_result" %> (<%= @books.count %>)</h3>
      <div class="mb-3">
        <%= paginate @books %>
      </div>
      <% if @books.any? %>
        <div class="books d-flex flex-wrap justify-content-md-start">
          <%= render @books %>
        </div>
      <% end %>
  </div>
</div>
