@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #402717;
$gray: #d6c299;
$gray-darker: #d6c299;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 90px;
  color: #402717;
  background-color: #f6efdb;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 30px;
  .title {
    font-size: 5rem;
    text-align: center;
    color: #d6c299;
  }
  .txt {
    margin: 30px;
    font-size: 2rem;
    color: #f6efdb;
  }
  .info {
    font-size: 2rem;
    color: white;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.navbar-dark .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: #d6c299;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #d6c299;
    text-decoration: none;
  }
}

/* home */

.home {
  /* 画像ファイルの指定 */
  background-image: image-url('bg.jpg');

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #d6c299;
  .btn {
    width: auto;
    margin: 20px 0;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

/* book */

.books {
  .book {
    width: 50%;
  }
  padding: 0;
  .content {
    display: block;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .title {
    display: block;
  }
  .name {
    display: block;
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }

}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}